html{
    border-top: none;
    background: #beccfc;
    text-align: center;
}
Button{
    /*background-color: rgb(250, 127, 174);*/
    background-color: #1976d2;
    text-transform: uppercase;
  }
img{
    object-fit: cover;
    width: 20em;
    height: 20em;
    margin: 0.5px;
    border-radius: 8px;
}
h4{
    color: #1976d2;
}
/*--------------image stuff----------------*/

img:hover{
    opacity: 0.3;
}

.hoverText{
    text-align: center;
}